{% extends "layout.twig" %}
{% block titleP %}
    Blog en PHP | Manage Posts
{% endblock %}
{% block title %}
    MANAGE POSTS
{% endblock %}
{% block content %}


    <h2>Posts</h2>
    <p>
        <a class="btn btn-primary" href="{{ 'admin/posts/create' | url }}">New Posts</a>
    </p>
    {%  if result %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> your post delete!!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%  endif %}
<table class="table table-striped table-hover">
    <caption>Table content blogs</caption>
    <thead>
    <tr>
        <th>Title</th>
        <th>Config</th>

    </tr>
    </thead>
    <tbody>


    {% for row in blogPosts  %}

    <tr>

        {% if row.deleted_at != null %}
            <td><strike>{{row.title}}</strike></td>
        {% else %}
            <td>{{row.title}}</td>
            {% endif %}
        <td>
            <a href="{{ 'admin/posts/edit/' | url }}{{ row.id }}">
                <abbr title="EDITAR POST">
                    <span class="material-icons">
                        build
                    </span>
                </abbr>
            </a>
            <a href="{{ 'admin/posts/delete/' | url }}{{ row.id }}">
                <abbr title="ELIMINAR">
                    <span class="material-icons" >
                       delete
                    </span>
                </abbr>
            </a>
            {% if row.deleted_at != null %}
            <a href="{{ 'admin/posts/restore/' | url }}{{ row.id }}">
                <abbr title="RESTAURAR POSTS" >
                    <span class="material-icons">
                        restore
                    </span>
                </abbr>
            </a>
            {% endif  %}

        </td>

    </tr>
    {% endfor %}

    </tbody>
</table>
{%  endblock %}
{% block footer  %}
    <footer>
        This is a footer <br>
        <a class="btn btn-secondary" href="{{ 'admin' | url }}">Admin Panel</a>
    </footer>
{% endblock %}

